@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Videos";
}

<div class="container videos-container">
    <div class="row videos-featured-container">
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="~/Images/screenshots/back-on-the-grind.jpg" />
                <div class="thumbnail-title">
                    <p>Back on The Grind | Bo4 | NEW !yt video is LIVE</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="~/Images/screenshots/chillin-with-the-homie.jpg" />
                <div class="thumbnail-title">
                    <p>Chillin with the Homie | &#64;redb3ardtv on socials</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="~/Images/screenshots/chillin-with-the-homie.jpg" />
                <div class="thumbnail-title">
                    <p>I woke Up Today Hating Myself | Dark Souls III | &#64;redb3ardtv on socials</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="row videos-featured-container">
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="~/Images/screenshots/i-just-want-mw.jpg" />
                <div class="thumbnail-title">
                    <p>i just want MW | &#64;redb3ardtv on socials</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="~/Images/screenshots/i-just-want-mw.jpg" />
                <div class="thumbnail-title">
                    <p>I woke Up Today Hating Myself | Dark Souls III | &#64;redb3ardtv on socials</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="~/Images/screenshots/uh-oh.jpg" />
                <div class="thumbnail-title">
                    <p>Uh oh</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>
