@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Index";
}

<div class="container videos-container">
    <div class="row videos-featured-container">
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="https://vodcontent-5002.xboxlive.com/channel-93681582-public/27e94f02-893a-4f20-9ea2-5d5bcb4944c6/source.png" />
                <div class="thumbnail-title">
                    <p>New to Mixer | MWR with Friends</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="https://vodcontent-4001.xboxlive.com/channel-93681582-public/b219f85a-2956-4442-a49f-043f0b318aae/source.png" />
                <div class="thumbnail-title">
                    <p>Newb Player LVL Grinds</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="https://vodcontent-2007.xboxlive.com/channel-93681582-public/0dabd6c5-65e7-4fbc-a233-6841c90ef82d/source.png" />
                <div class="thumbnail-title">
                    <p>Chill Times and Positive Vibes</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="row videos-featured-container">
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="https://vodcontent-6004.xboxlive.com/channel-93681582-public/f817af51-b208-4957-bdcf-2de6a7cf1cff/source.png" />
                <div class="thumbnail-title">
                    <p>New to Mixer | LVL grinding</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="https://vodcontent-4001.xboxlive.com/channel-93681582-public/862f985f-efff-4a82-a4e9-19e0b754b9ba/source.png" />
                <div class="thumbnail-title">
                    <p>New to Mixer | LVL grinding</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 video-thumbnail">
            <a href="@Url.Action("Video", "V")">
                <img class="img-responsive responsive" src="https://vodcontent-2001.xboxlive.com/channel-93681582-public/3a019097-d0a7-4002-81da-77b10fc19f6f/source.png" />
                <div class="thumbnail-title">
                    <p>Chillin</p>
                </div>
                <div class="thumbnail-author">
                    <p>Redb3ardTV</p>
                </div>
                <div class="thumbnail-stats">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item upload-time">2 hours ago</li>
                        <li class="list-inline-item"><span class="sep"> | </span></li>
                        <li class="list-inline-item views">265K Views</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>
